<div ng-repeat="transaction in listRecords() | orderBy: '-date'" class="transactionrow">
    <div class="row">
        <div class="col-sm-1">
            <button  ng-click="deleteRecord(transaction._id)"class="btn btn-danger btn-xs"/><span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="col-sm-3">{{ transaction.amount | currency:"HUF ":0}}</div>
        <div class="col-sm-3"> {{transaction.description}} </div>
        <div class="col-sm-3"> {{transaction.date}} </div>
    </div>
</div>