<!DOCTYPE html>
<html lang="en" ng-app="spendingApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="spendingController">
    <h1 class="text-center">Túró Rudi</h1>
    <div class="container">
        <div class="row">
            <form class="form ">
                <div class="col-sm-4">
                    <input class="form-control" ng-model="amount" type="number" placeholder="Amount"><br>
                    <textarea class="form-control" ng-model="description"  placeholder="Description"></textarea> <br>
                    <!--<input class="form-control" ng-model="descripton" type="text" placeholder="Description">-->
                    <input class="form-control" ng-model="date" type="date"><br>
                    <button ng-click="addToList()" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
        <div class="row">
            <ul >
                <li ng-repeat="transaction in transactions">{{transaction}}</li>
            </ul>
        </div>
    </div>
</body>
<script src="lib/angular.min.js"></script>
<script src="js/spending.js"></script>
</html>