<!DOCTYPE html>
<html lang="en" ng-app="spendingApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/spending.css" rel="stylesheet">
</head>
<body ng-controller="spendingController">
    <nav>
        <a href = "/">Home</a>
        <a href = "/all">All</a>
    </nav>
    <h1 class="text-center">Túró Rudi</h1>
    <div class="container">
        <div class="row">
           <ng-include src="'templates/form.templ.html'">
           </ng-include>
        </div>
        <!--<div class="row">-->
        <br>
        <section ng-view>

        </section>
        <!--</div>-->
    </div>
    <div class="alert alert-success notification" ng-model="notificationmessage" ng-if="notificationmessage">
        <a ng-click='closenotification()' class="close" data-dismiss="alert">x</a>
        <strong>{{notificationmessage}}</strong>
    </div>

</body>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/myApp2.js"></script>
<script src="js/listAllController.js"></script>
<script src="js/storageServiceServer.js"></script>
</html>